/*  Footer */

$pad: 2em;
$radius: 10px;
footer.site-footer {
    background-color: #fff;
    .site-info {
        > div {
            font-size: 80%;
            border-left: 1px solid #ccc;
            min-height: 65px;
            color: $color__copyright;
        }
        &-copyright {
            @include spacepad($pad);
        }
        &-live {
            @include spacepad($pad);
            text-transform: uppercase;
            text-align: center;
            &:hover {
                background-color: $color__highlight;
                cursor: pointer;
                color: #fff;
            }
        }
        &-social {
            @include spacepad(1.5em);
            > div {
                background-image: url(http://www.sctv.co.id/assets/img/sprite.png);
                background-position: 0 -1311px;
                width: 32px;
                height: 29px;
                margin: 0 auto;
            }
            &:hover {
                background-color: $color__highlight;
                cursor: pointer;
                color: #fff;
                > div {
                    background-position: 0 -1252px;
                }
            }
        }
        &-extra {
            @include spacepad($pad);
            text-transform: uppercase;
            position: relative;
            @include transition(.2s);
            &:hover {
                cursor: pointer;
            }
            &.active {
                .site-info-extra-content {
                    top: -12em;
                    @include opacity(1);
                    
                }
            }
            &-content {
            	@include transition(.2s);
            	@include opacity(0);
                background-color: #fff;
                position: absolute;
                top: -20em;
                right: 1em;
                border-radius: 8%;
                
                &:after {
                    @include triangle(down, 10px, #fff);
                    z-index: 2;
                    left: 4em;
                }
                li {
                    padding: 1em 3em;
                    border-bottom: 1px solid $color__sitebg;
                    &:first-child {
                        border-top-left-radius: $radius;
                        border-top-right-radius: $radius;
                    }
                    &:last-child {
                        border-bottom-left-radius: $radius;
                        border-bottom-right-radius: $radius;
                    }
                    &:hover {
                        background-color: $color__highlight;
                        color: #fff;
                    }
                    &:last-child {
                        border-bottom: none;
                    }
                }
            }
        }
    }
}
