.main-navigation {
    // clear: both;
    // display: block;
    // float: left;
    // width: 100%;
    ul {
        display: none;
        list-style: none;
        margin: 0;
        padding-left: 0;
        ul {
            box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
            float: left;
            position: absolute;
            top: 1.5em;
            left: -999em;
            z-index: 99999;
            ul {
                left: -999em;
                top: 0;
            }
            li {
                &:hover > ul,
                &.focus > ul {
                    left: 100%;
                }
            }
            a {
                width: 200px;
            }
            :hover > a,
            .focus > a {}
            a:hover,
            a.focus {}
        }
        li:hover > ul,
        li.focus > ul {
            left: auto;
        }
    }
    li {
        // float: left;
        position: relative;
        padding: 15px;
        border-bottom: 1px solid $color__secondary__dark;
        a {
            color: #fff;
        }
        &:hover > a,
        &.focus > a {
            color: $color__text__highlight;
        }
    }
    a {
        display: block;
        text-decoration: none;
    }
    .current_page_item > a,
    .current-menu-item > a,
    .current_page_ancestor > a,
    .current-menu-ancestor > a {}
}


/* Small menu. */

.menu-toggle,
.main-navigation.toggled ul {
    display: block;
}

@media screen and (min-width: 37.5em) {
    .menu-toggle {
        display: none;
    }
    .main-navigation ul {
        display: block;
    }
}

.comment-navigation,
.posts-navigation,
.post-navigation {
    .site-main & {
        margin: 0 0 1.5em;
        overflow: hidden;
    }
    .nav-previous {
        float: left;
        width: 50%;
    }
    .nav-next {
        float: right;
        text-align: right;
        width: 50%;
    }
}


/* MEGAMENU STYLING */

#masthead {
    border-bottom: 1px solid #ccc;
}

.site-menu {
    .box {
        float: left;
        a {
            padding: 1.5em 2em;
            text-align: center;
            color: $color__menubar;
            display: block;
        }
    }
}

#site-menu {
    &-bar {
        border-right: 1px solid #ccc;
        line-height: 1.6em;
        cursor: pointer;
        min-width: 100px;
        .fa-times {
            display: none;
        }
        .fa-bars {
            display: block;
        }
        &.active {}
        .fa-times {
            color: #fff;
        }
    }
    &-logo {
        a {
            padding-top: 1em;
            padding-bottom: 0.6em;
        }
    }
}


/* NAVIGATION */

#page {
    &.active {
        #site-menu-bar {
            background-color: $color__highlight;
            .fa-times {
                display: block;
            }
            .fa-bars {
                display: none;
            }
        }
        #site-navigation {
            left: 0;
        }
    }
}

nav {
    height: 100%;
    position: absolute;
    left: -999px;
    @include transition(.2s);
    background-color: $color__secondary;
    width: 300px;
}
