/** Posts **/

.item-list {
    &:hover,
    &:focus {
        .item-list-desc-icon {
            background-color: $color__secondary__dark;
        }
    }
}

.item-list-desc {
    min-height: 5em;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    &-title {
        font-size: 1em;
        text-transform: uppercase;
        font-weight: 700;
        line-height: 1.1;
        padding-left: 0.5em;
        @include spacepad(1em);
    }
    &-date {
        font-size: 70%;
        font-weight: 500;
        color: $color__highlight;
        padding-top: 0.5em;
    }
    &-icon {
        text-align: center;
        @include spacepad(1em);
        color: #fff;
        background-color: $color__highlight;
        cursor: pointer;
        @include transition(.2s);
    }
}


/** Article Posts **/

// video styling
.entry-header {
    text-align: center;
    > iframe.vidio-embed {
        
        max-height: 330px;
        overflow: hidden;
        @include breakpoint(sm) {
            max-height: 18em;
        }

        @include breakpoint(md) {
            max-height: 24em;
        }

        @include breakpoint(lg) {
            max-height: 30em;
        }
    }
}

.article .gallery-caption {
    display: none !important;
}

.gallery-icon {
    @include filter(grayscale, 100%);
    @include transition(.2s);
    &:hover {
        @include filter(grayscale, 0%);
    }
}

.entry-content {
    padding-bottom: 1.2em;
    .subtitle {
        font-weight: bold;
        padding: 0 0 5px 0;
        font-size: 125%;
        text-transform: capitalize;
        margin: 0;
    }

    .entry-tags {
    	a {
    		padding: .5em 1.2em;
    		background: #ddd;
    		
    		&:hover {
    			text-decoration: none !important;
    		}
    	}
    }
}

.article-rightCol {
    .yarpp-related {
        @extend .no-spacemar;
    }
}

.related {
    > li {
        border-bottom: 1px solid #ddd;
        padding: 1em 0;
    }

    &-title {
        font-size: 85%;
    }
}
