/** Posts **/

.item-list {
    &:hover,
    &:focus {
        .item-list-desc-icon {
            background-color: $color__secondary__dark;
        }
    }
}

.item-list-desc {
    min-height: 5em;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    &-title {
        font-size: 1em;
        text-transform: uppercase;
        font-weight: 700;
        line-height: 1.1;
        padding-left: 0.5em;
        @include spacepad(1em);
    }
    &-date {
        font-size: 70%;
        font-weight: 500;
        color: $color__highlight;
        padding-top: 0.5em;
    }
    &-icon {
        text-align: center;
        @include spacepad(1em);
        color: #fff;
        background-color: $color__highlight;
        cursor: pointer;
        @include transition(.2s);
    }
}


/** Article Posts **/

// video styling
header.entry-header {
	background: #000;
	text-align: center;
	max-height: 600px;
	overflow: hidden;
    > iframe.vidio-embed {
        max-width: 1024px;
    }
}

.article .gallery-caption {
	display: none !important;
}
.gallery-icon {
	@include filter(grayscale, 100%);
	@include transition(.2s);
	&:hover {
		@include filter(grayscale, 0%);
	}
}

