[submodule "lib/kodein-sass"]
	path = lib/kodein-sass
	url = https://github.com/enoa7/sass.git
[submodule "lib/sass-dropshadows"]
	path = lib/sass-dropshadows
	url = https://github.com/Ahrengot/sass-dropshadows.git
