#mainbanner {
    overflow: hidden;
}


/** LATEST POST ON THE FRONTPAGE - TEMPLATE 2 (side) **/

#latest.template2 {
    @extend .no-padding;
    .title {
        margin: 0;
        padding: 15px;
        background-color: $color__highlight;
        color: #fff;
    }
    .item-list {
        @extend .no-spacepad-side;
        @include spacepad(1.1em);
        border-bottom: 1px solid #ddd;
        &:last-child {
            border-bottom: none;
        }
        a {
            color: $color__secondary;
            &:hover {
                color: $color__highlight;
            }
        }
        > div {
            @include spacepad(15px);
            border: none;
        }
        &-desc {
            border: none;
        }
        &-desc-icon {
            border-radius: 50%;
            padding: 1.7em;
            background-color: #F3F3F3;
            .fa {
                color: $color__highlight;
            }
        }
    }
}

#most-popular .segment-wrap > div {
    h2 {
        @extend .title;
    }
}
