/* ==================================================================
 * Main Banner Section
 * ================================================================== */

 /**
 * styling for main banner
 * the image will have a full width, max height of 600px(beyond that height will be hidden)
 * and by default it will be hidden until the its corresponding .item-banner class has .active class
 */
#mainbanner {
    overflow: hidden;
    .item-banner {
        display: none;
        img {
            // max-width: 1200px;
            max-height: 600px;
            @extend .fullwidth;
        }
        &.active {
            display: block;
        }
    }
}

/**
 * latest section styling
 */
#latest {
    @extend .no-padding;
    .title {
        margin: 0;
        padding: 15px;
        background-color: $color__highlight;
        color: #fff;
    }
    .item-list {
        @extend .no-spacepad-side;
        @include spacepad(1.1em);
        border-bottom: 1px solid #ddd;
        &:last-child {
            border-bottom: none;
        }
        a {
            color: $color__secondary;
            &:hover {
                color: $color__highlight;
            }
        }
        > div {
            @include spacepad(15px);
            border: none;
        }
        &-desc {
            border: none;
        }
        &-desc-icon {
            border-radius: 50%;
            padding: 1.7em;
            background-color: #F3F3F3;
            .fa {
                color: $color__highlight;
            }
        }
    }
}

/**
 * by default the latest contaienr on mobile will have an active class
 * which will display the content.
 *
 * .trigger-content is used to pinpoint our content container
 */
#latest.mobile {
    .trigger-content {
        display: none;
    }
    &.active {
        .trigger-content {
            display: block;
        }
    }
}


#most-popular .segment-wrap > div {
    h2 {
        @extend .title;
    }
}


