/* Import Pages */

@import 'frontpage';
.segment-title {
    position: relative;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    line-height: 1;
    text-align: center;
    &:before {
        content: "";
        position: absolute;
        top: 1em;
        left: 0;
        z-index: 0;
        width: 100%;
        line-height: 1;
        border-top: 1px solid #ccc;
    }
    > .title {
        position: relative;
        display: inline-block;
        background: #fff;
        margin: 0;
        padding: 0 10px;
    }
}

.site-page-content {
    #latest {
        @include spacepad(15px);
    }
}
