/* Import Pages */

.custom-height {
    @include breakpoint(md) {
        max-height: 400px;
    }
    @include breakpoint(lg) {
        max-height: 600px;
    }
}

@import 'frontpage';
#site-page-content {
    position: relative;
    @include transition(1s);
}

#site-page-header {
    overflow: hidden;
    position: relative;
    @extend .custom-height;
}

.title {
    margin: 0;
    padding: 15px;
    background-color: $color__highlight;
    color: #fff;
}
