/* =================
* Utility Classes
* ================= */

.fullwidth {
    width: 100%;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

ul.nodots {
    margin: 0;
    padding-left: 0;
    li {
        list-style-type: none !important;
    }
}

.active {
    display: block;
}

.not-active {
    display: none;
}

.events-none {
    pointer-events: none;
}

.vis-hidden {
    visibility: hidden;
}

.vcenter > div {
    display: inline-block;
    vertical-align: middle;
    float: none;
    &:last-child {
        margin-left: -5px;
    }
}

.relative {
    position: relative;
}


/* ------------------------------------
 * Spacing - Padding and Margin
 * ------------------------------------ */


/*
 * Generate spacepad and spacemar
 * result: spacepad-5, spacepad-10, etc..
 */

@for $i from 1 through 4 {
    $x: $i * 10 / 2;
    .spacepad-#{$x} {
        padding-top: $x + px;
        padding-bottom: $x + px;
    }
    .spacemar-#{$x} {
        margin-top: $x + px;
        margin-bottom: $x + px;
    }
}

$direction: top right bottom left;
@each $dir in $direction {
    .no-padding-#{$dir} {
        padding-#{$dir}: 0px;
    }
    .no-margin-#{$dir} {
        margin-#{$dir}: 0px;
    }
}

.no-padding {
    padding: 0 !important;
}

.no-spacepad {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.no-spacepad-side {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.no-margin {
    margin: 0 !important;
}

.no-spacemar {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.no-spacemar-side {
    margin-left: 0 !important;
    margin-right: 0 !important;
}


/* ------------------------------------ */

/* ------------------------------------
 * Headings
 * ------------------------------------ */

/* 
 * Line across the title
 * HTML => <div class="segment-title"><h2 class="title"></h2></div>
 */
.segment-title {
    position: relative;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    line-height: 1;
    text-align: center;
    &:before {
        content: "";
        position: absolute;
        top: 1em;
        left: 0;
        z-index: 0;
        width: 100%;
        line-height: 1;
        border-top: 1px solid #ccc;
    }
    > .title {
        position: relative;
        display: inline-block;
        background: #fff;
        margin: 0;
        padding: 0 10px;
    }
}

